# IntelliJ / Android Studio
.idea/
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.vscode/
**/.settings/
**/.classpath
**/.project

### Build ###
**/target/
**/build/

# Maven wrapper
.mvn/
mvnw
mvnw.cmd
.gitattributes

# Checkstyle (local config)
checkstyle/

### OS ###
.DS_Store

