.loader {
  border: 4px solid #e5e7eb;
  border-top: 4px solid #0057b8;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
